@font-face {
    font-family: 'Arial';
    src: url();
}
*{
    font-family: 'Calibri';
    font-size: 25px;
}
h1{
    font-size: 45px;
}
a{
    color: white;
}
a:visited{
    color: rgb(196, 196, 196);
}
html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: black;
    background-image: url(../image/background.jpg);
    background-size: cover;
    background-attachment: fixed;
}
header{
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
}
.LogoName{
    margin: 15px;
    display: flex;
    height: 150px;
    width: 100%;
}
.LogoName img{
    height: 100%;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}
header h1{
    font-size: 60px;
}
header nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-left: 30px;
    margin-right: 30px;
}
header nav>a>input{
    background-color: black;
    border: none;
    width: 100%;
    padding: 10px 50px;
    color: white;
    font-size: 25px;
}
header nav>a>input:hover{
    background-color: white;
    color: black;
}
header button{
    background-color: black;
    border: none;
    width: 100px;
    margin-right: 50px;
}
header button>img{
    -webkit-filter: invert(100%);
    filter: invert(100%);
    width: 80px;
}
header button:hover img{
    -webkit-filter: invert(50%);
    filter: invert(50%);
}
span{
    display: none;
    margin: 25px;
}
.menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.menu a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.menu a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.menu .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
.content{
    margin-top: -45px;
    width: 100%;
    padding: 0px 10% 0px 10%;
}
.information{
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.information div{
    color: white;
    width: 30%;
    height: 30%;
    margin: 30px;
    padding: 20px;
}
.information div>img{
    width: 100%;
}
footer{
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -31px;
    padding: 20px;
}
footer>img{
    width: 300px;
    margin: 20px;
}
footer div{
    width: 300px;
    display: flex;
    justify-content: center;
}
footer div>img{
    width: 40px;
    -webkit-filter: invert(100%);
    filter: invert(100%);
    margin: 15px;
}
iframe{
    width: 100%;
}
@media screen and (max-width: 1350px){
    span{
        display: block;
        margin: 15px;
    }
    header nav{
        display: none;
    }
    .information{
        display: flex;
        flex-direction: column;
    }
    .information div{
        width: 70%;
    }
}
@media screen and (max-width: 750px){
    span{
        display: block;
        margin: 5px;
    }
    .LogoName h1{
        display: none;
    }
    .information{
        display: flex;
        flex-direction: column;
    }
    .information div{
        width: 70%;
        margin: 5px;
    }
    footer>img{
        width: 100%;
        margin: 20px;
    }
    footer div{
        width: 100%;
        margin: 10px;
    }
}
@media screen and (max-width: 350px){
    *{
        font-family: 'Calibri';
        font-size: 20px;
    }
    h1{
        font-size: 35px;
    }
    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .LogoName{
        margin: 15px;
        display: flex;
        height: 150px;
        width: 20%;
    }
    .LogoName img{
        height: 20%;
        -webkit-filter: invert(100%);
        filter: invert(100%);
    }
    header>button{
        display: none;
    }
}